@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* body global style */

body {
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
}


/* container style */

.container {
    width: 90%;
    margin: auto;
    display: flex;
}


/* title style */

.title {
    width: 60%;
}

.title img {
    width: 400px;
}

.title h2 {
    margin: 0 1em 0;
    font-weight: 400;
    font-size: 2em;
}


/* login form style */

.login {
    width: 30%;
    margin: auto;
}

.login .form {
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 1px 10px grey;
    margin-bottom: 1em;
    text-align: center;
}

.login .form input[type=text] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 0.1px solid rgb(228, 225, 225);
    border-radius: 5px;
    box-sizing: border-box;
}

.login .form input[type=text]:focus {
    outline: none;
    border: 1px solid #1877f2;
}

.login .form input[type=submit] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.login .form input[type=submit]:hover {
    cursor: pointer;
    background-color: #1463ca;
}

.login .form a {
    color: #398bf4;
    font-size: 0.8em;
}

.login hr {
    border-top: .2px solid rgb(235, 235, 235);
    margin-bottom: 1.5em;
}

.login .form input[type=button] {
    width: 50%;
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.login .form input[type=button]:hover {
    cursor: pointer;
    background-color: #318820;
}

.login .createPage {
    font-size: 0.8em;
    text-align: center;
}

.login .createPage a {
    font-weight: bold;
}